<div class="register-container">
  <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name">
    </div>

    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" required [(ngModel)]="model.username" name="username">
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" required [(ngModel)]="model.email" name="email">
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" required [(ngModel)]="model.password" name="password">
    </div>

    <div class="form-group">
      <label for="roles">Roles</label>
      <select multiple class="form-control" id="roles" [(ngModel)]="model.roles" name="roles">
        <option value="ROLE_USER">User</option>
        <option value="organizer">Organizer</option>
        <option value="ROLE_ADMIN">Admin</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!registerForm.form.valid">Register</button>
  </form>
</div>
